body {
    background-color: black;
    margin: 0% 5% 5%;
    color: #FFFFFF;

}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2630;
    height: 50px;
}

.title_text {
    display: flex;
    flex-direction: row;
    color: white;
}

.flex_display {
    display: flex;
}

.filter_by_year_div {
    padding-top: 10px;
}

.dark-theme .Select-menu-outer {
    background-color: #333333;
}

.dark-theme .Select-option {
    background-color: #222222;
    color: #FFFFFF;
}


.dark-theme .Select-menu-outer {
    border-color: #FFFFFF;
}


.dark-theme .Select--single > .Select-control .Select-value {
    color: #FFFFFF;
}

.dark-theme .Select-control {
    background-color: #222222 !important;
    color: #ffffff !important;
}

.dark-theme .Select-placeholder {
    color: #FFFFFF;
}

.dark-theme .Select-control .Select-value-label {
    color: #ffffff !important;
}

.dark-theme2 .DateInput__label {
    color: #333333 !important;
}

.DateRangePickerInput {
    background-color: #222222;
}


.dark-theme2 .DateInput .DateInput_input {
    background-color: #333333 !important;
    color: #FFFFFF !important;
}

.previous-next-container .first-page {
    color: #FFFFFF !important;
}

.previous-page {
    color: #FFFFFF !important;
}

.current-page {
    color: #FFFFFF !important;
}

.current-page-container {
    color: #FFFFFF !important;
}

.last-page {
    color: #FFFFFF !important;
}

.next-page {
    color: #FFFFFF !important;
}

.page-number {
    color: #FFFFFF !important;
}

.dark-theme2 .DateInput__input {
    border-color: #FFFFFF !important;
}

.dark-theme2 .DateInput__display-text {
    color: #FFFFFF !important;
}

.mileage-slider .rc-slider-rail {
    background-color: #eee;
}

.mileage-slider .rc-slider-track {
    background-color: #e91e63;
}

.mileage-slider .rc-slider-handle {
    background-color: #e91e63;
}

.mileage-slider1 .rc-slider-rail {
    background-color: #eee;
}

.mileage-slider1 .rc-slider-track {
    background-color: #00FF00;
}

.mileage-slider1 .rc-slider-handle {
    background-color: #00FF00;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7.5rem;
    padding: 2rem 1rem;
    /* background-color: #f8f9fa; */
    z-index: 1050;
    transition: width 0.3s ease-in-out;
    background-color: black;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 29.5rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
    width: 1rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

@font-face {
    font-family: "garamond";
}

.nav-link.active {
    background-color: #0084d6 !important;
    color: #fff !important;
    box-shadow: 0 2px 4px 0 rgba(32, 121, 255, 0.308) !important;
}

.nav-link.active:hover {
    color: #fff !important;
}

.nav-link:hover {
    color: #0084d6 !important;
}

.image_title {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.icon_title {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1f2630;
    font-weight: bold;
    color: white;
}

td {
    font-size: 14px;
    color: pink;
    border: 1px solid #666;
}
